@model   EditUserClaimsViewModel

@{
    var userId = ViewBag.userId;
}
@{
    ViewData["Title"] = "EditUserClaimsViewModel";
}

<h1>Edit User Claims</h1>

<hr />

<form method="post" class="m-lg-5" style="height: 25.25rem">
    <div class="card " style="margin: 0 auto; width: 30rem;">
        <div class="card-header">
            <h4> Add or remove users from this role </h4>

        </div>
        <div class="card-body">
            @for (int i = 0; i < Model.Claims.Count; i++)
            {
                <div class="form-check m-1 ">
                    <input hidden asp-for="@Model.Claims[i].ClaimType" />
                    <input asp-for="@Model.Claims[i].IsSelected" class="form-check-input mt-2" />
                    <label class="form-check-label text-white lead" asp-for="@Model.Claims[i].IsSelected">@Model.Claims[i].ClaimType</label>
                </div>
            }
        </div>
        <div class="card-footer">
            <input type="submit" value="Update" class="btn btn-info btn-lg" />
            <a class="btn btn-dark  btn-lg" asp-controller="Administration" asp-action="EditUser" asp-route-id="@Model.UserId"> Cancel</a>
        </div>

    </div>
</form>

